{% extends '_base.html' %}

{% block page_title %}Update Task{% endblock page_title %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h1 class="mb-0">Update Task</h1>
            </div>
            <div class="card-body">
                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <!-- Form Fields without Labels -->
                    <div class="row">
                        <div class="col-12 mb-3 mt-3">
                            <div class="form-group">
                                {{ form.as_p }}
                            </div>
                        </div>
                    </div>

                    <!-- Buttons in a Line -->
                    <div class="d-flex justify-content-end mt-4">
                        <button type="submit" class="btn btn-primary me-2">Update Task</button>
                        <a href="{% url 'task_list' %}" class="btn btn-secondary">Back to Task List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
